<div class="footer-content">
    <div class="wrapper">
        <div class="grid center-md">
            <div class="lg-4 md-12 cell">
                <h2 class="footer-content__heading">Контакты</h2>
                <p class="footer-content__p">
                    197101, Санкт-Петербург, Кронверкский пр., д.49, Университет ИТМО, каб. 317
                </p>
                <p class="footer-content__p">
                    <a href="tel:+78122324284" class="footer-content__link white-link">+7 (812) 232-42-84</a>
                </p>
                <p class="footer-content__p">
                    <a href="mailto:dissovet@mail.ifmo.ru" class="footer-content__link white-link">dissovet@mail.ifmo.ru</a>
                </p>
            </div>
            <div class="lg-3 md-12 cell">
                <div class="footer-content__heading footer-content__heading--bold">
                    Приемные дни
                </div>
                <p class="footer-content__p--bold">
                    Понедельник, вторник, четверг
                </p>
                <p class="footer-content__p">
                    с 11:00 до 12:30;
                </p>
                <p class="footer-content__p">
                    с 14:00 до 17:00
                </p>
            </div>
            <div class="lg-5 md-12 cell">
                <p class="footer-content__p">
                    Проход в университет осуществляется при предъявлении паспорта.
                </p>
            </div>
        </div>
    </div>
</div>