<div class="footer-panel">
    <div class="wrapper">
        <div class="grid middle-lg">
            <div class="cell lg-4 md-12 center-md">
                <p class="footer-panel__p">
                    Информация © 1993–2018  Университет ИТМО
                </p>
                <p class="footer-panel__p">
                    Разработка © 2018  Департамент информационных технологий
                </p>
            </div>
            <div class="lg-4 md-12 center-lg first-md">
                <svg class="footer-panel__logo">
                    <use xlink:href="#footer-logo"></use>
                </svg>
            </div>
            <div class="cell lg-4 md-12 end-lg center-md footer-panel__copyright">
                <p class="footer-panel__p">
                    <a href="#" class="white-link">
                        Правила использования информации в доменной зоне itmo.ru
                    </a>
                </p>
                
            </div>
        </div>
    </div>
</div>