<div class="header-menu hidden-md" id="header-menu">
    <div class="wrapper">
        <nav class="header-menu__nav grid cell">
            <div class="header-menu__item">
                <a href="/anouncment.html" class="header-menu__item-link">
                Объявления о защитах
                </a>
            </div>
            <div class="header-menu__item">
                <a href="dis_list.html" class="header-menu__item-link active">
                Диссертационные советы
                </a>
            </div>
            <div class="header-menu__item">
                <a href="/applicants.html" class="header-menu__item-link">
                Соискателям
                </a>
            </div>
            <div class="header-menu__item">
                <a href="#" class="header-menu__item-link">
                Экспертам
                </a>
            </div>
            <div class="header-menu__item">
                <a href="/documents.html" class="header-menu__item-link">
                Документы
                </a>
            </div>
            <div class="header-menu__item">
                <a href="/contacts.html" class="header-menu__item-link">
                Контакты
                </a>
            </div>
        </nav>
    </div>
</div>