<header class="header">
    <div class="header-logo">
        <div class="wrapper grid middle-lg">
            <svg class="header-logo__logo xs-2">
                <use xlink:href="#logo"></use>
            </svg>
            <div class="header-logo__text xs-10">
                <p class="header-logo__text-sm">
                    Факультет подготовки кадров высшей квалификации
                </p>
                <p class="header-logo__text-lg">
                    Отдел по работе с Диссертационными советами
                </p>
            </div>
        </div>
    </div>
</header>