<header class="header">
    //= header-panel.html
    <div class="header-logo" id="header-logo">
        <div class="wrapper">
            <div class="grid middle-lg">
                <a href="/" class="header-logo__wrap cell lg-12 md-10 sm-11 xs-10 grid ungutter middle-lg">
                    <svg class="header-logo__logo">
                        <use xlink:href="#logo"></use>
                    </svg>
                    <div class="header-logo__text">
                        <p class="header-logo__text-sm">
                            Факультет подготовки кадров высшей квалификации
                        </p>
                        <p class="header-logo__text-lg">
                            Отдел по работе с Диссертационными советами
                        </p>
                    </div>
                </a>
                <div class="cell md-2 sm-1 xs-2 hidden-lg visible-md end-lg">
                    <div class="header__burger" id="burger">
                        <div class="header__burger-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= header-menu.html
</header>