<div class="header-panel">
    <div class="wrapper">
        <div class="grid middle-lg">
            <a href="#" class="header-panel__logo cell lg-6">
                <svg class="header-panel__logo-svg">
                    <use xlink:href="#logo_itmo"></use>
                </svg>
            </a>
            <!--Изменен блок-->
            <div class="grid middle-lg lg-6 end-lg">
                <span class="header-panel__kebab hidden-lg visible-xs" id="kebab">
                        <svg class="header-panel__kebab-svg">
                            <use xlink:href="#kebab"></use>
                        </svg>
                    </span>
                <a href="#" class="header-panel__lang hidden-xs">
                    <span class="">Сайт аспирантуры</span>
                </a>
                <a href="#" class="header-panel__lang-link">
                    <div class="hidden-xs">En</div>
                    <svg class="header-panel__lang-icon">
                        <use xlink:href="#lang-icon"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>