<div class="header-panel">
    <div class="wrapper">
        <div class="grid">
            <a href="#" class="header-panel__logo cell lg-6">
                <svg class="header-panel__logo-svg">
                    <use xlink:href="#logo_itmo"></use>
                </svg>
            </a>
            <a href="#" class="header-panel__lang grid middle-lg lg-6 end-lg">
                <span class="hidden-xs">Сайт аспирантуры</span>
                <svg class="header-panel__lang-icon">
                    <use xlink:href="#lang-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>