body {
  overflow-x: hidden;
}

a {
  &:hover {
    color: map_get($palette, accent-second);
  }
}

h1,
h2,
h3,
h4,
h5
h6 {
  font-family: map_get($font, heading-second);
  font-weight: normal;
}

h1 {
  font-size: 40px;
  margin-top: 64px;
  margin-bottom: 33px;

  @include mq(md) {
    margin-top: 52px;
    margin-bottom: 25px;
  }

  @include mq(sm) {
    font-size: 32px;
  }

  @include mq(xs) {
    margin-top: 40px;
    font-size: 24px;
  }

  &.main-heading {
    font-size: 56px;

    @include mq(md) {
      font-size: 48px;
    }
    @include mq(sm) {
      font-size: 40px;
      text-align: center;
    }

    @include mq(xs) {
      font-size: 28px;
    }
  }
}

h2 {
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 45px;

  @include mq(md) {
    font-size: 24px;
  }
}

h3 {
  font-size: 32px;
  margin-bottom: 25px;
  margin-top: 40px;

  @include mq(md) {
    font-size: 24px;
  }

  @include mq(xs) {
    font-size: 22px;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.white-link {
  &:active,
  &:link,
  &:visited {
    color: map_get($palette, bg);
  }

  &:hover {
    opacity: .7;
  }
}

ol {
  list-style-type: decimal;
  padding-left: 15px;

  li {
    &:before {
      display: none;
    }
  }
}

.grid--col {
  display: flex;
  flex-direction: column;
  @include mq(xs) {
    display: block;
  }
}

ul {
  li {
    margin-bottom: 7px;
  }
}

ol ul {
  list-style: none;

  li::before {
    @include pseudo-element('');
    width: $grid-module / 2;
    height: $grid-module / 2;
    left: -.75rem;
    top: .65rem;
  }
}

.mb-80 {
  margin-bottom: 80px;

  @include mq(md) {
    margin-bottom: 56px;
  }

  @include mq(xs) {
    margin-bottom: 48px;
  }
}

.vw-100 {
  width: 100vw;
  margin-left: calc(-50vw + 50%);

  &--bg {
    @include mq(md) {
      background-color: map_get($palette, bg-dark);
    }
  }
}

img {
  max-width: 100%;
}

.fs-14 {
  font-size: 14px;
}

.sm-order-1 {
  @include mq(sm) {
    order: 1;
  }
}