.speakers {
  text-align: left;
  margin-bottom: 50px;

  @include mq(md) {
    margin-bottom: 0px;
  }

  @include mq(xs) {
    margin-top: 48px;
  }

  &--contacts {
    margin-top: 38px;

    @include mq(md) {
      margin-bottom: 50px;
    }
  }

  .speakers {
    &__item {
      display: flex;

      &-wrap {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
      }

      &-photo {
        min-width: 90px;
        width: 90px;
        height: 90px;
        margin: 0;
        padding: 5px;

        .speakers__item-img {
          width: auto;
          max-width: 100%;
          height: auto;
          border-radius: 0;
        }
      }

      &-heading {
        margin: 0 0 5px;
        font-size: 16px;
        font-family: map_get($font, body);
        font-weight: 600;
      }

      &-info {
        width: 100%;
        margin-left: 15px;
      }

      &-date {
        margin-bottom: 5px;
        font-size: 14px;
      }

      &-position {
        margin-bottom: 5px;
      }
    }

    &__col {
      @include mq(sm) {
        padding: 0;
      }
    }
  }
}