.breadscrumbs {
  margin-top: 32px;
  color: map_get($palette, content-light);
  font-size: 14px;

  @include mq(md) {
    margin-top: 16px;
  }

  @include mq(xs) {
    font-size: 10px;
    line-height: 16px;
  }
}