.filter-tab {
  display: flex;
  float: right;
  margin-top: -65px;

  @include mq(sm) {
    margin-top: 0;
    margin-bottom: 40px;
    float: none;
  }

  @include mq(xs) {
    margin-bottom: 30px;
  }

  &__item {
    &:first-child {
      .filter-tab__item-label {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-left: none;

        @include mq(md) {
          border-left: 1px solid map_get($palette, bg-dark);
        }
      }
    }

    &:last-child {
      .filter-tab__item-label {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-right: none;

        @include mq(md) {
          border-right: 1px solid map_get($palette, bg-dark);
        }
      }
    }

    &-input {
      display: none;

      &:checked + .filter-tab__item-label {
        background-color: map_get($palette, accent-second);
        color: map_get($palette, bg);
      }
    }

    &-label {
      display: block;
      padding: 8px 16px;
      min-width: 70px;
      text-align: center;
      background-color: map_get($palette, bg);
      border-right: 1px solid map_get($palette, bg-dark);
      border-left: 1px solid map_get($palette, bg-dark);
      transition: $transition;
      cursor: pointer;
      line-height: 22px;

      @include mq(md) {
        border: 1px solid map_get($palette, bg-dark);
        border-left: none;
        font-size: 14px;
      }
    }
  }
}