.info-card {
  padding-bottom: 80px;

  &--bg {
    padding-top: 40px;
    background-color: map_get($palette, bg-dark);

    @include mq(xs) {
      background-color: map_get($palette, bg);
    }
  }

  &__item {
    display: none;
    margin-bottom: 24px;

    &.show {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:visited,
    &:link {
      color: map_get($palette, content);
    }

    &:hover {
      .info-card__item-wrap {
        border-color: map_get($palette, bg);
        box-shadow:  8px 16px 56px rgba(218, 218, 218, 0.32);
      }

      .info-card__item-name {
        color: map_get($palette, accent-main);
      }

      .info-card__item-icon {
        width: 60px;
      }
    }

    &-wrap {
      padding: 32px 16px 32px 32px;
      background-color: map_get($palette, bg);
      border: 1px solid map_get($palette, bg-dark);
      border-radius: 20px;
      transition: $transition;

      @include mq(sm) {
        padding: 24px;
      }

      @include mq(xs) {
        padding: 16px;
      }
    }

    &-icon {
      width: 30px;
      height: 20px;
      background: url('../img/arrow-right-xs.png') no-repeat 100% 50%;
      transition: $transition;
    }

    &-svg {
      position: relative;
      width: 30px;
      height: 20px;
      fill: map_get($palette, accent-main);
      transition: $transition;

      @include mq(md) {
        width: 10px;
      }

      &--lg {
        width: 60px;
        height: 30px;

        @include mq(md) {
          width: 60px;
        }
      }
    }

    &-name {
      max-width: 850px;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 22px;

      @include mq(md) {
        font-size: 18px;
      }

      @include mq(sm) {
        max-width: 450px;
      }
    }

    &-title {
      margin-bottom: 13px;

      @include mq(md) {
        font-size: 14px;
      }
    }

    &-heading {
      font-weight: 600;

      @include mq(md) {
        font-size: 14px;
      }
    }

    &-count {
      margin-bottom: 16px;
      width: fit-content;
      font-size: 14px;
      color: map_get($palette, content-light);

      @include mq(md) {
        left: inherit;
        right: 0;
      }

      @include mq(sm) {
        font-size: 12px;
        right: 16px;
      }

      @include mq(xs) {
        position: static;
      }
    }

    &-label {
      height: 40px;
      padding: 9px 16px;
      margin-bottom: 12px ;
      font-size: 14px;
      background: map_get($palette, bg-dark);
      border-radius: 2px;
      color: map_get($palette, content-light);

      @include mq(sm) {
        align-self: baseline;
        margin-right: 24px;
      }

      @include mq(xs) {
        margin-right: 0;
      }
    }

    &-date {
      margin-bottom: 8px;
      font-size: 14px;
      color: map_get($palette, content-light);

      @include mq(md) {
        font-size: 12px;
      }

      &--sovet {
        color: map_get($palette, content);
      }
    }

    &-descr {
      position: relative;

      @include mq(sm) {
        margin-bottom: 24px;
      }

      @include mq(xs) {
        position: relative;
        margin-bottom: 48px;
        &:after {
          @include pseudo-element('');
          bottom: -24px;
          width: calc(100% - 32px);
          height: 1px;
          background-color: map_get($palette, bg-dark);
        }

        &--noborder {
          margin-bottom: 0;
          &:after {
            display: none;
          }
        }
      }
    }

    &-link {
      @include mq(xs) {
        margin: 15px 0 0 0;
      }
    }
  }

  &__btn {
    display: none;
    margin-top: 48px;

    &.show {
      display: inline-block;
    }
  }

  &__person {
    margin-top: 24px;
    font-size: 14px;

    @include mq(sm) {
      padding: 16px 0;
      font-size: 12px;
      border-top: 1px solid map_get($palette, bg-dark);
      border-bottom: 1px solid map_get($palette, bg-dark);
    }

    &-name {
      font-weight: 600;
      margin-bottom: 5px;
    }

    &-position {
      margin-bottom: 5px;
      color: map_get($palette, content-light);
    }

    &-col {
      padding-right: 32px;
      &:last-child {
        padding-right: 0;
      }

      @include mq(xs) {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}