.header-panel {
  position: relative;
  padding: 10px 0;
  background-color: map_get($control, bg-disabled);

  &__logo {
    height: 20px;

    &-svg {
      width: 170px;
      height: 100%;
    }
  }

  &__kebab {
    margin-left: 8px;
    order: 1;

    &-svg {
      width: 24px;
      height: 24px;
    }
  }

  &__lang {
    font-size: 12px;
    font-weight: map_get($font, semi-bold-weight);

    @include mq(xs) {
      position: absolute;
      top: 48px;
      padding: 8px 16px;
      background-color: map_get($palette, bg-dark);
      border-radius: 4px;
      z-index: 1;
      font-size: 14px;
      font-weight: 400;
    }

    &.active {
      display: block;
    }

    &-icon {
      margin-left: 8px;
      width: 24px;
      height: 24px;
    }

    &-link {
      display: flex;
      margin-left: 80px;
      align-items: center;
      height: 24px;

      &:visited,
      &:link {
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}