.header-panel {
  position: relative;
  padding: 10px 0;
  background-color: map_get($control, bg-disabled);

  &__logo {
    height: 20px;

    &-svg {
      width: 170px;
      height: 100%;
    }
  }

  &__lang {
    font-size: 12px;
    font-weight: map_get($font, semi-bold-weight);
    &-icon {
      margin-left: 8px;
      width: 24px;
      height: 24px;
    }

    &-link {
      display: flex;
      margin-left: 80px;
      align-items: center;
      height: 24px;

      &:visited,
      &:link {
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}